<!--{{user | json}}-->
<div class="container-xxl d-flex justify-content-around">
    <h1>Soporte Anavatec</h1>
    <!-- header rightbar icon -->
    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1 gap-md-4">
        <div class="dropdown notifications zindex-popover">
            <a class="nav-link dropdown-toggle pulse d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                <mat-icon class="icofont-alarm fs-5">notifications</mat-icon>
                <span class="pulse-ring"></span>
            </a>
            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                <div class="card border-0 w380">
                    <div class="card-header border-0 p-3">
                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                            <span>Notificaciones</span>
                            <span class="badge text-white">{{ticketExpired.length}}</span>
                        </h5>
                    </div>
                    <div class="tab-content card-body">
                        <div class="tab-pane fade show active">
                            <ul class="list-unstyled list mb-0">
                                <li class="py-2 mb-1 border-bottom" *ngFor="let ticket of ticketExpired; let i = index">
                                    <a href="javascript:void(0);" class="d-flex" routerLink="chamados">
                                        <img class="avatar rounded-circle" src="assets/img/xs/avatar1.jpg" alt="">
                                        <div class="flex-fill ms-2">
                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold"><span class="badge" [ngClass]="{
                                                    'bg-success':
                                                      ticket.countDays < 0,
                                                    'bg-warning':
                                                     ticket.countDays == 1,
                                                    'bg-danger':
                                                      ticket.countDays > 1 }"
                  >{{ticket.statusName}}</span></span> <small>{{ ticket.dataFechamento }}</small></p>
                                            <span class="color-000"> {{ ticket.titulo }} <div class="w-100 d-flex justify-content-end">
                                                <span class="badge"
                                                      [ngClass]="{
                                                    'bg-success':
                                                      ticket.prioridade == 'BAIXA',
                                                    'bg-warning':
                                                     ticket.prioridade == 'MEDIA',
                                                    'bg-danger':
                                                      ticket.prioridade == 'ALTA'}">{{ ticket.prioridade}}</span>
                                            </div></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="card-footer text-center border-top-0" routerLink="chamados"> Ver todas las notificaciones</a>
                </div>
            </div>
        </div>
        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover ">
            <div class="u-info me-2">
                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold text-uppercase">{{user?.nome}}</span></p>
                <small>Administrador</small>
            </div>
            <a class="nav-link dropdown-toggle pulse p-0 " href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                <div *ngIf="user?.nome == null">
                    <img class="avatar lg rounded-circle img-thumbnail" src="assets/img/profile_av.png" alt="profile">
                </div>
                <div *ngIf="user?.nome != null" style="width: 56px;
    min-width: 56px;
    height: 56px;">
                    <div class="avatar-name">{{
                        name + " " + lastName | namInit
                        }}</div>
                </div>
            </a>
            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                <div class="card border-0 w280">
                    <div class="card-body pb-0">
                        <div class="d-flex py-1">
                            <img class="avatar rounded-circle" src="assets/img/profile_av.png" alt="profile">
                            <div class="flex-fill ms-3">
                                <p class="mb-0"><span class="font-weight-bold">{{user?.nome}}</span></p>
                                <small class="">{{user?.email}}</small>
                            </div>
                        </div>

                        <div><hr class="dropdown-divider border-dark"></div>
                    </div>
                    <div class="list-group m-2 ">
                        <a routerLink="chamados"  class="list-group-item list-group-item-action border-0 "><i class="icofont-tasks fs-5 me-3"></i>Mis tickets</a>
                        <a (click)="logout()" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Logout</a>
                        <div><hr class="dropdown-divider border-dark"></div>
                        <a routerLink="perfil" class="list-group-item list-group-item-action border-0 "><i class="icofont-contact-add fs-5 me-3"></i>Ver perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
