[class="theme-indigo"] {
    --primary-color: #484c7f;
    --secondary-color: #f19828;
    --chart-color1: #484c7f;
    --chart-color2: #f19828;
    --chart-color3: #f5558d;
    --chart-color4: #a7daff;
    --chart-color5: #9cbf3b;
    --chart-color6: #a0c1b8;
    --chart-color7: #64868e;
    --primary-gradient: linear-gradient(45deg, #f5558d, #ff1843);
}
.bg-dark{
    background-color: #484c7f !important;
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form {
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
 }
 
 h1 {
    width: 100%;
    text-align: center;
    
 }
 
 img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
 }
 
 .full-width {
    width: 100%;
 }
 
 button {
    margin-top: 1.5rem;
 }
 
 mat-icon {
    opacity: .6;
 }

 mat-icon {
   opacity: .6;
 }